header {
  font-family: 'Poiret One', cursive;
}

body {
  font-family: 'Raleway', sans-serif;
  /* background-color: #FFE2E6; */
  background-color: white;
}

h1 {
  font-size: 8em;
  text-align: center;
  margin-top: 0px;
}

.sub-content {
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.header-wrap {
  margin: 15%;
  margin-top: 0;
  margin-bottom: -100px;
}

.header-wrap-sub h1 {
  font-size: 5em;
  border: none;
  text-shadow: none;
}

.header-wrap-sub h2 {
  text-align: center;
}

h2 span {
  border-bottom:medium outset;
  border-top: thin outset;
}

h2 a {
  font-size: 1.2em;
  border: none;
}

h2 a span {
  border-bottom:thin outset;
  border-top: thick outset;
}

.nav a {
  font-size: 1.3em;
  border: none;
}

.nav ul {
  list-style-type: none;
}

.wrapper {
  margin: 15px;
}

.main {
}

.content {
  padding: 5px;
  max-width: auto;
  margin-left: 7%;
  margin-right: 7%;
  border-style: none;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
  border-width: 0.5em;
}

.job {
  width: 100%;
  margin-bottom: 150px;
  margin-right: 150px;
}

.job h2 {
  font-size: 3em;
}

.job-content {
}

.section-header h2 {
  font-size: 4em;

}

.section {
  display:inline-block;
  width: 100%;
  border-bottom-style: inset;
  border-bottom-width: thick;
}
