<div class="sidebar">
  <button id="mobileToggle" class="sidebar__button">
  <span class="sidebar__button-wrap">
      <span class="sidebar__button-icon"><span class="fa fa-bars fa-2x"></span></span>
  </span>
  </button>
  <ul class="sidebar__list" id="primaryNavigation">
    <a class="sidebar__link" href="/"><li class="sidebar__item">Home</li></a>
    <a class="sidebar__link" href="/cv"><li class="sidebar__item">CV</li></a>
    <a class="sidebar__link" href="/projects"><li class="sidebar__item">Projects</li></a>
  </ul>
</div>
