.sidebar-wrap {
  @media (max-width: 768px) {
      border-bottom-style: solid;
  }
}

.sidebar {
  float:left;
  width:200px;
  padding-left:50px;
  margin-top: 10px;
  font-size: 1.2rem;
  border-right-style: solid;

  @media (max-width: 768px) {
      width: auto;
      margin: 0;
      padding: 0;
      float: none;
      font-size: 1.5rem;
      margin-left: 15px;
  }

  &__item {

    @media (max-width: 768px) {
      float: left;
      padding-right: 20px;
    }

  }

  &__list {
    list-style: none;

    @media (max-width: 768px) {
      display: inline;
    }
  }

  &__button {
    display: none;
    border-style: none;
    background-color: $text-color;
    color: $button-color;
  }
}
