.sidebar {
  float:left;
  width:200px;
  padding-left:50px;
  margin-top: 10px;
  font-size: 1.2rem;
  border-right-style: solid;

  @media (max-width: 768px) {
      border-right-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      float: none;
      background-color: $text-color;
  }

  &__list {
    list-style: none;

    @media (max-width: 768px) {
      display: none;
    }

    &--visible {
      display: block;
    }
  }

  &__item {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__button {
    display: none;
    border-style: none;
    background-color: $text-color;
    color: $button-color;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
